body {
    background-image: url(/imgs/cafe.jpeg);
}

header {
    background-color: rgb(196, 174, 174, .7);
    padding: 50px 50px;
    margin-bottom: 50px;
    border-bottom: white dotted 2px;
}
#image-id {
    object-fit: contain;
}